:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-size: inherit;
  font-weight: inherit;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-fit: fill;
}

.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
}

.hotel-view {
  background-color: orangered;
  flex: 1;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
}
.search__input {
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  margin-right: -3rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
  transition: all 0.3s;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-light-2);
}
.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-2);
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  height: 100%;
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notification {
  height: 1.75rem;
  width: 1.75rem;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}